# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs / temp
*.log
*.tmp
*.bak

# Local config / secrets
*.env
config.local.*